#container__experiencie {
    height: 1200px;
    padding: 0 1rem;
    background: var(--main-section-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4% repeat(3, 30%);
    row-gap: 10px;
}
#container__experiencie h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.container__experience-int {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% repeat(3, 10%);
    justify-items: center;
}
.container__experience-int h2 {
    justify-self: flex-start;
}
.container__experience-int span {
    justify-self: flex-start;
}
.container__experience-int .container__button {
    justify-self: flex-start;
}
.container__experience-img {
    height: 100%;
    width: 100%;
    background:  var(--cards-color);
    display: grid;
    justify-items: center;
    align-items: center;    
}
.repository {
    background: var(--main-section-color);
    border: 3px solid black;
}
.demo {
    background: var(--my-blue);
    color: var(--cards-color);
}
button {
    border-radius: 10px;
}
button:hover {
    color: #2e21df;
    transform: scale(0.8);
}
#jaeger {
    background-image: url(./../img/jaeger.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text {
    background-image: url(./../img/text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hanged {
    background-image: url(./../img/hangedGame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}