#container__hobbies {
    height: 420px;
    background: var(--main-section-color);
    padding: 3rem 1rem;
}
#container__hobbies > h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.container__hobbies {
    margin-top: 1rem;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 150px);
    justify-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 0 1rem;
}
.item__hobbies {
    height: 100%;
    width: 100%;
    background-color: var(--cards-color);
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
}
.item__hobbies img {
    width: 60px;
    align-self: flex-end;
}
.item__hobbies span {
    font-size: 18px;
    font-weight: 600;
    justify-self: flex-start;
}